<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions>
        <permission action="procCommentAdminAddCart" target="manager" />
        <permission action="procCommentGetList" target="manager" />
    </permissions>
    <actions>
        <action name="getCommentMenu" type="model" standalone="true" />
        <action name="dispCommentAdminList" type="view" admin_index="true" standalone="true" menu_name="comment" menu_index="true" />
        <action name="dispCommentAdminDeclared" type="view" standalone="true" menu_name="comment" />
        <action name="procCommentVoteUp" type="controller" standalone="true" />
        <action name="procCommentVoteDown" type="controller" standalone="true" />
        <action name="procCommentDeclare" type="controller" standalone="true" />
        <action name="getCommentVotedMemberList" type="model" standalone="true" />
        <action name="procCommentInsertModuleConfig" type="controller" standalone="true" ruleset="insertCommentModuleConfig" />
        <action name="procCommentAdminDeleteChecked" type="controller" standalone="true" ruleset="deleteChecked" />
        <action name="procCommentAdminCancelDeclare" type="controller" standalone="true" />
        <action name="procCommentAdminAddCart" type="controller" standalone="true" />
        <action name="procCommentGetList" type="controller" standalone="true" />
    </actions>
    <menus>
        <menu name="comment">
            <title xml:lang="en">Manage comments</title>
            <title xml:lang="ko">댓글</title>
            <title xml:lang="zh-CN">Manage comments</title>
            <title xml:lang="jp">Manage comments</title>
            <title xml:lang="es">Manage comments</title>
            <title xml:lang="ru">Manage comments</title>
            <title xml:lang="fr">Manage comments</title>
            <title xml:lang="zh-TW">Manage comments</title>
            <title xml:lang="vi">Manage comments</title>
            <title xml:lang="mn">Manage comments</title>
            <title xml:lang="tr">Manage comments</title>
        </menu>
    </menus>
</module>
