@charset "utf-8"; 
@import url("./layoutTemplate.css");
/* NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) */

/* Reset */
body { margin:2em; font-size:.75em; font-family:Sans-serif;  }
.liquid hr { display:none; }
.liquid address { font-style:normal; }

/* Container */
#container { margin:0 auto; } /* alignCenter = margin:0 auto | alignLeft = margin:0 | alignRight = margin:0 0 0 auto  */
.liquid .gnb { position:absolute; right:25px; top:22px; }

/* Header */
#header { margin-bottom:2em; border-bottom:3px solid #5E95BC; overflow:hidden; *zoom:1; height:30px;}
#header .title { margin:0; float:left; }
#header .title a { font-size:1.8em; text-decoration:none; color:#5E95BC; font-weight:bold;}

/* Body */
#body { *margin-bottom:2em; }

/* Content */
#content { text-align:justify; margin-bottom:2em; }
#content .section { margin-bottom:2em; }

/* Navigation */
#navigation { }
#navigation .section { margin-bottom:2em; }
#navigation .section .nav{ padding:0; margin:0; margin-left:1.25em;}

/* Extra */
#extra { }
#extra .section { margin-bottom:2em; }
#extra .section ul{ padding:0; margin:0; margin-left:1.25em;}

/* Footer */
#footer { padding:1em 0; border-top:1px solid #000; }

/* Heading : h1~h6 */
#body h2 { position:relative; border-bottom:2px solid #ddd; margin:0 0 1em 0; }
#body p{ margin:0 0 1em 0;}


