@charset "utf-8";
/* NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) */

.cafeXe { background:#000;}

/* Heading */
#cafeXeHeader a.cafeXeA{ color:#999;}
#cafeXeHeader h1.cafeXeH1 a.cafeXeA{ color:#fff;}
#cafeXeBody h2.cafeXeBodyH2{ color:#999;}
#cafeXeBody h2.cafeXeExtensionH2{ color:#999;}
#cafeXeKnee h2.cafeXeExtensionH2{ color:#b3b3b3; border-color:#434343;}

/* Layout */
#cafeXeHeader,
#cafeXeKnee,
#cafeXeFooter{ background:#333; color:#666;}
#cafeXeFooter a{ background:#333; color:#666; text-decoration:none;}

/* Common Class */
.cafeXeInputText{ border-color:#666; background:#333; color:#ccc;}
.cafeXeMoreTop{ color:#888;}

/* Widget List */
ul.widgetList li{ background:url(../img/black/iconWidgetList.gif) no-repeat left 9px;}
.widgetList li .thumb .category{ background:#000 !important; color:#fff !important;}
.widgetList li .notice{ background:url(../img/black/lineTextDiv.gif) no-repeat right center;}
.widgetList li .category{ background:url(../img/black/lineTextDiv.gif) no-repeat right center;}

/* widgetListTypeA */
ul.widgetListTypeA li{ border-color:#7f7f7f; background:none;}
ul.widgetListTypeA li .notice{ color:#ff1a1a;}
ul.widgetListTypeA li .category{ color:#999;}
ul.widgetListTypeA li .title{ color:#999;}
ul.widgetListTypeA li .replyNum{ color:#ff1a1a;}
ul.widgetListTypeA li .backNum{ color:#ff1a1a;}
ul.widgetListTypeA li .author{ color:#999;}
ul.widgetListTypeA li .date{ color:#999;}
ul.widgetListTypeA li .time{ color:#888;}
ul.widgetListTypeA .inputText{ border-color:#666; background:#333; color:#ccc;}
ul.widgetListTypeA .moreTop{ color:#888;}

/* widgetListTypeB */
ul.widgetListTypeB li{ border-color:#7f7f7f; background:none;}
ul.widgetListTypeB li .title{ color:#999;}
ul.widgetListTypeB li .author{ color:#999;}
ul.widgetListTypeB li .date{ color:#999;}
ul.widgetListTypeB li .time{ color:#888;}
ul.widgetListTypeB .inputText{ border-color:#666; background:#333; color:#ccc;}
ul.widgetListTypeB .moreTop{ color:#888;}

/* widgetListTypeC */
ul.widgetListTypeC li{ border-color:#7f7f7f; background:none;}
ul.widgetListTypeC li .notice{ color:#ff1a1a;}
ul.widgetListTypeC li .category{ color:#999;}
ul.widgetListTypeC li .title{ color:#999;}
ul.widgetListTypeC li .replyNum{ color:#ff1a1a;}
ul.widgetListTypeC li .backNum{ color:#ff1a1a;}
ul.widgetListTypeC li .author{ color:#999;}
ul.widgetListTypeC li .date{ color:#999;}
ul.widgetListTypeC li .time{ color:#888;}
ul.widgetListTypeC .inputText{ border-color:#666; background:#333; color:#ccc;}
ul.widgetListTypeC .moreTop{ color:#888;}

/* widgetListTypeD */
ul.widgetListTypeD li{ background:none;}
ul.widgetListTypeD a { color:#ccc;}
ul.widgetListTypeD a:hover,
ul.widgetListTypeD a:active,
ul.widgetListTypeD a:focus{ background:#8e8e8e;}
ul.widgetListTypeD .inputText{ border-color:#666; background:#333; color:#ccc;}
ul.widgetListTypeD .moreTop{ color:#888;}

/* widgetListTypeE */
ul.widgetListTypeE li{ background:none;}
ul.widgetListTypeE li a { color:#666;}
ul.widgetListTypeE .inputText{ border-color:#666; background:#333; color:#ccc;}
ul.widgetListTypeE .moreTop{ color:#888;}

/* widgetListTypeF */
ul.widgetListTypeF li{ background:none;}
ul.widgetListTypeF li a { color:#666;}
ul.widgetListTypeF .inputText{ border-color:#666; background:#333; color:#ccc;}
ul.widgetListTypeF .moreTop{ color:#888;}

/* widgetListTypeG */
ol.widgetListTypeG a { color:#666;}
ol.widgetListTypeD .inputText{ border-color:#666; background:#333; color:#ccc;}
ol.widgetListTypeD .moreTop{ color:#888;}

/* widgetLogin */
.widgetLogin label{ color:#999;}
.widgetLogin .help a { color:#ccc;}
.widgetLogin .help li{ background:url(../img/black/lineTextDiv.gif) no-repeat left center;}
.widgetLogin .inputText{ border-color:#666; background:#333; color:#ccc;}
.widgetLogin .moreTop{ color:#888;}

/* widgetLastLogin */
.widgetLastLogin dt{ color:#999;}
.widgetLastLogin dd{ color:#888;}
.widgetLastLogin a { color:#333;}
.widgetLastLogin li{ background:url(../img/black/iconMyInfo.gif) no-repeat left center;}
.widgetLastLogin .inputText{ border-color:#666; background:#333; color:#ccc;}
.widgetLastLogin .moreTop{ color:#888;}

/* widgetMyInfo */
.widgetMyInfo li a{ color:#ccc;}
.widgetMyInfo li{ background:url(../img/black/iconMyInfo.gif) no-repeat left 1px;}
.widgetMyInfo .inputText{ border-color:#666; background:#333; color:#ccc;}
.widgetMyInfo .moreTop{ color:#888;}

/* widgetTree */
.widgetTree{ color:#999;}
.widgetTree a { color:#999;}

/* widgetCounter */
.widgetCounter dt{ color:#999;}
.widgetCounter dd{ color:#888;}

/* widgetTabTypeA */
.widgetTabTypeA li a { color:#777;}
.widgetTabTypeA li.active a{ color:#b3b3b3;}

/* widgetLanguage */
.widgetLanguage p a{ color:#b3b3b3;}
.widgetLanguage ul { background-color:#fff !important; border:1px solid #888;}
.widgetLanguage ul li a{ color:#333;}

/* Widget Tree */
.widgetTree ul{ background:url(../img/black/lineTreeVr.gif) repeat-y 0 -1px;}
.widgetTree ul li{ background:url(../img/black/lineTreeHr.gif) no-repeat 1px 5px !important;}
.widgetTree ul li button{ background:url(../img/black/buttonTreeCollapse.gif) no-repeat;}
.widgetTree ul li.nav_tree_last{ background:url(../img/black/lineTreeLastHr.gif) no-repeat 0 5px !important;}

/* widgetLevel */
.widgetLevel.num0 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/0.gif);}
.widgetLevel.num1 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/1.gif);}
.widgetLevel.num2 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/2.gif);}
.widgetLevel.num3 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/3.gif);}
.widgetLevel.num4 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/4.gif);}
.widgetLevel.num5 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/5.gif);}
.widgetLevel.num6 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/6.gif);}
.widgetLevel.num7 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/7.gif);}
.widgetLevel.num8 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/8.gif);}
.widgetLevel.num9 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/9.gif);}
.widgetLevel.num10 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/10.gif);}
.widgetLevel.num11 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/11.gif);}
.widgetLevel.num12 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/12.gif);}
.widgetLevel.num13 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/13.gif);}
.widgetLevel.num14 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/14.gif);}
.widgetLevel.num15 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/15.gif);}
.widgetLevel.num16 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/16.gif);}
.widgetLevel.num17 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/17.gif);}
.widgetLevel.num18 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/18.gif);}
.widgetLevel.num19 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/19.gif);}
.widgetLevel.num20 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/20.gif);}
.widgetLevel.num21 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/21.gif);}
.widgetLevel.num22 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/22.gif);}
.widgetLevel.num23 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/23.gif);}
.widgetLevel.num24 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/24.gif);}
.widgetLevel.num25 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/25.gif);}
.widgetLevel.num26 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/26.gif);}
.widgetLevel.num27 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/27.gif);}
.widgetLevel.num28 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/28.gif);}
.widgetLevel.num29 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/29.gif);}
.widgetLevel.num30 { background-image:url(http://www.zeroboard.com/modules/point/icons/default/30.gif);}

#cafeXeBody .cafeXeSearch .searchInput { width:170px; border:1px solid #666; background-color:#333; color:#AAA;}
