@charset "utf-8";

body, div, td, p, a {
    font-family:arial, sans-serif;
    font-size:9pt;
}

#db_info .header {
    width:80px;
    font-weight:bold;
    float:left;
    padding-top:2px;
}

#db_info .tail {
    float:left;
}

#db_info .tail input {
    border:1px solid #DDDDDD;
    height:16px;
}

#db_info .tail .button {
    border:1px solid #555555;
    background-color:#888888;
    color:#FFFFFF;
    height:20px;
    font-size:8pt;
    font-weight:bold;
}

#db_info li {
    clear:both;
    height:30px;
}
