@charset "utf-8";

body, div, td, p, a {
    font-family:arial, sans-serif;
    font-size:9pt;
}

.title {
    font-weight:bold;
    font-size:14px;
    border-bottom:2px solid #EEEEEE;
    padding-bottom:5px;
}

li {
    clear:both;
    height:30px;
}

.header {
    width:80px;
    font-weight:bold;
    float:left;
    padding-top:2px;
}

.tail {
    float:left;
}

.submit_button {
    clear:both;
    margin-top:10px;
}

input[type=password] {
    border:1px solid #DDDDDD;
    height:16px;
}

input[type=text] {
    border:1px solid #DDDDDD;
    height:16px;
}

.button {
    border:1px solid #555555;
    background-color:#888888;
    color:#FFFFFF;
    height:20px;
    font-size:8pt;
    font-weight:bold;
}

