@charset "utf-8";

.messageLayer { border:2px solid #777; font-size:12px; background:#fff; margin:50px auto; width:370px;}
.messageLayer * { margin:0; padding:0; font-size:12px; }
.messageLayer h4 { font-size:14px !important; font-family:Dotum; background:#f4f4f4 !important; padding:8px 30px 8px 15px !important; letter-spacing:-1px !important; }
.messageLayer .messageLayerBody{ margin:0 0 15px 0;}

.messageLayer ul { list-style:none; padding:0; margin:20px 0 20px 0; text-align:center;}
.messageLayer li { list-style:none; display:inline; }

.messageLogin { padding:20px; }
.messageLogin .formField { margin-bottom:10px; overflow:hidden; *zoom:1;}
.messageLogin .formField label { display:block; float:left; width:100px;}
.messageLogin .formField input { display:block; float:left; width:140px;}
.messageLogin div.button { text-align:center; margin-top:10px; }
.messageLogin .loginOption { margin-top:20px; text-align:right;}
.messageLogin .loginOption input { margin-left:20px; vertical-align:middle; }
.openid_login { display:none; }
.messageLogin .openIDTitle { width:99%; white-space:nowrap; overflow:hidden; background:url("images/openid_login_bg.gif") no-repeat left top; padding:1px 0 0 25px; margin-bottom:8px; color:#888888; font-weight:bold; }
.messageLogin .openIDTitle input { vertical-align:middle; }

.messageLogin .openid_login { display:none; clear:both; height:38px; border:3px solid #D5D8DB; background-color:#FFFFFF; margin:0 0 10px 0; }
.messageLogin .openIDTitle input { margin:0; padding:0; }
