@charset "utf-8";

.aboutListConfig { border:1px solid #ccc; padding:5px; line-height:160%; margin-bottom:20px; }

.itemZone { margin:0 auto; width:530px;  overflow:hidden; *zoom:1; }
.itemZone strong { margin-bottom:3px; display:block; text-align:center; padding:5px; border:1px solid #eee;}

.targetItem { float:left; width:250px; overflow:hidden; *zoom:1; }
.displayItem { float:right; width:250px; overflow:hidden; *zoom:1; }
.displayItem select, .targetItem  select { width:99%;  overflow:hidden; *zoom:1;}

.buttonArea { clear:both; padding-top:20px; }
